<html>
    <body>
        <table class="receipt-info-container">
            <tbody>
                <tr>
                    <td class="receipt-title" rowspan="2">Receipt</td>
                    <td><img style="height: 50px; width: auto;" src="/home/sammyb/gee_collections/gee_collections_vue/src/assets/img/new-logo.png" /></td>
                </tr>
            </tbody>
        </table>
        <table class="customer-info-container">
            <tbody>
                <tr>
                    <td><strong>Receipt No: </strong></td>
                    <td>{{receipt_no}}</td>
                    <td><strong>Received From: </strong></td>
                    <td>{{last_name}} {{first_name}}</td>
                </tr>
                <tr>
                    <td><strong>Date: </strong></td>
                    <td>{{date}}</td>
                    <td></td>
                    <td>{{phone_number}}</td>
                </tr>
                <tr>
                    <td><strong>Payment Method: </strong></td>
                    <td>{{payment_method}}</td>
                    <td></td>
                    <td>{{address}}, {{city}}</td>
                </tr>
                <tr>
                    <td><strong>Reference No: </strong></td>
                    <td>{{reference_no}}</td>
                    <td></td>
                    <td>{{county}}</td>
                </tr>
                <tr>
                    <td><strong>Amount: </strong></td>
                    <td>{{amount}}</td>
                    <td></td>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <td><strong>Balance: </strong></td>
                    <td>{{balance}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="mb-6">
            <table class="order-items-table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orderItem in orderItems %}
                    <tr>
                        <td>{{ orderItems.id }}</td>
                        <td>{{orderItem.product.name}}</td>
                        <td>{{orderItem.quantity}}</td>
                        <td>{{orderItem.price}}</td>
                        <td><strong>{{ orderItem.getTotal()}}</strong></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td><strong>{{order_total}}</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Amount Paid</strong></td>
                        <td><strong>{{amount}}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <p><strong>Amount In Words : </strong>{{amount_in_words}} Shillings Only.</p>
        </div>
        <div>
            <table class="receipted-by-container">
                <tbody>
                    <tr>
                        <td><strong>Receipted By: </strong></td>
                        <td>{{received_by}}</td>
                        <td><strong>Signature: </strong></td>
                        <td><img style="height: 100px; width: auto;" src="/home/sammyb/gee_collections/gee_collections_vue/src/assets/img/signature.jpg" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <p><strong>Thank You For Doing Business With Us </strong><img style="height: 20px; width: auto; margin-left: 6px;" src="https://github.com/anvilco/html-pdf-invoice-template/raw/main/img/heart.png" alt="heart" /></p>
        </div>
    </body>
</html>